html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul, li {
  list-style: none;
  display: inline-block;
}

.app {

}