.counter{
  &__inner{
    width: 450px;
    height: 300px;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.45);
    text-align: center;
    margin: 350px 0 0;
  }
  &-count{
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.45);
    color: #fff;
    padding: 74px 15px 75px;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 25px;
    border-bottom: 2px solid #fff;
    &.counter-count--size{
      padding: 40px 15px;
      font-size: 90px;
    }
  }
  &-btn{
    & button {
      padding: 10px 15px;
      border: none;
      font-size: 24px;
      font-weight: 600;
      background-color: rgba(0, 0, 0, 0.67);
      color: #fff;
    }
    &__inc{

    }
    &__reset{
      margin-left: 30px;
    }
  }
}